@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    font-family: "Nunito";
    color: #333;
    background-image: radial-gradient( circle 1000px at 0 25%, rgb(175, 61, 71) 0%, rgba(247,92,92,1) 44.9%, rgba(150, 20, 45, 0.97)93.8% );
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, .4);
}

.current-score {
    display: inline-block;
    min-width: 200px;
    padding: 15px 30px;
    margin-top: 100px;
    border-radius: 10px;
    background-color: rgba(247,92,92,1);
}

.active {
    background-color: #efefef;
    transition: 200ms all;
    .player-name {
        font-weight: 600;
        display: inline-block;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-200%, -50%);
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: rgba(247,92,92,1);
        }
    }
}

.winner {
    background-image: linear-gradient(45deg, rgba(128,248,174,1) 0%, rgba(223,244,148,1) 90%);
    .player-name {
        &:before {
            content: none;
        }
    }
}

.actions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    button {
        display: block;
        padding: 10px 20px;
        margin: 10px auto;
        border-radius: 20px;
        background-color: #fff;
        border: none;
        outline: none;
        cursor: pointer;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, .1);
        transition: all 100ms;
        &:hover {
            box-shadow: 0px 5px 5px rgba(0, 0, 0, .15); 
        }
        &:active {
            transform: translateY(1px);
            box-shadow: 0px 5px 5px rgba(0, 0, 0, .1); 
        }
    }
}

.dice {
    display: inline-block;
    margin: auto;
    width: 100px;
    height: 100px;
    box-shadow: 0px 0 30px rgba(0, 0, 0, .15);
    &-container {
        margin: 70px auto;
        height: 100px;
    }
}